body {
    /* background-color: rgb(185, 184, 184); */
    /* color: linear-gradient(to right, #ffe359 0%, #fff2ac 100%) */
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;

}

/* li {
    list-style: none;
} */

.container {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

.container div {
    /* background-color: #c4c3c3; */
    margin: 4px;
    padding: 2px;
    flex: 1;
    text-align: justify;
}

.container div img {
    object-fit: cover;
    width: 100%;
    height: 200px;

}

.jumImg {
    background-position: center center;
    background-size: cover;
    font-style: italic;
    text-align: center;
    color: rgb(27, 6, 75);


}


footer {
    background-color: rgb(68, 68, 68);
    height: 40px;
    text-align: center;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    }
    
.footer p {
    padding: 1%;
    padding-bottom: 0;
    color: white;
}




@media screen and (max-width:650px){
    .container{
        flex-direction: column;
    }    
}
