body {
    background-color: steelblue;
    background-color: indianred;
    background-image: url("../images/background.gif");
    background-size: cover;

    color: rgb(10, 10, 10);
    font-size: 20;
    font-family: 'Supermercado One', cursive;
}


.container h1{
    text-align: center;
}

.container {
    background-color: rgba(228, 242, 228, 0.9);
    padding: 15px;
    border: 5px solid #ccc;
    width: 60%; 
    max-width: 600px;
    margin: 10% auto;
    /* text-align: center; */
    /* align-content: center; */
}

.frmReg{
    margin-top: 35px;
    margin: auto;
    width: 400px;
    animation: fadeIn 2s;


}

.frmReg div{
    margin: 25px;

}

.frmReg label{
    width: 120px;
    display: inline-block;
}

.frmReg button {
    padding: 4px 12px;
}

#btnSubmit{
    background-color: darkgreen;
    color: white;
    font-size: 1.1em
}


#btnCancel{
    background-color: white;
    color: darkred;
    font-size: 1.1em
}

input, button {
    font-family: 'Supermercado One', cursive;

}

input {
    font-size: 1em;
}

button {
    margin: 10px;
}

.submission {
    text-align: right;
}

@keyframes fadeIN{
    from{ opacity: 0;}
    to{
        opacity: 1;
    }
}



@media screen and (max-width: 630px) {
    .frmReg label {
        width: 95%;

    }

    .submission {
        text-align: left;
    }
    
}



