body {
    background-color: black;
    color: linear-gradient(to right, #ffe359 0%, #fff2ac 100%)

}

.container {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

.container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    flex: 1;
}

.container div img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.jumImg {
    background-position: center center;
    background-size: contain;
    background-size: auto;
    opacity: 0.8;

    background-image: linear-gradient(to right, #bea836 0%, #fff2ac 100%);

}

.jumbotron {
    font-style: italic;
    text-align: center;
    color: rgb(27, 6, 75);
    /* color: rgb(103, 66, 173); */
}


@media screen and (max-width:650px){
    .container{
        flex-direction: column;
    }    
}